{% extends "index.html" %}

{% block body %}
{% block menu %}
<li><a href=""><i class="fa fa-angle-double-right"></i> Crear calificación</a></li>
<li><a href=""><i class="fa fa-angle-double-right"></i> Borrar calificación</a></li>
{% endblock %}
{% block contenido %}
<div class="container" >
	<h2>Información Empresa</h2>
	<ul class="list-group">
		<li class="list-group-item">Nombre <span class="badge">{{record.Nombre}}</span></li>
		<li class="list-group-item">Año de creacion <span class="badge">{{record.AnhoCreacion}}</span></li>
		<li class="list-group-item">Empresa_id <span class="badge">{{record.Empresa_id}}</span></li>
		<li class="list-group-item">Calificación <span class="badge">{{record.Calificacion}}</span></li>
	</ul>
</div>
</div>



{% endblock %}
{% endblock %}
