
{% load staticfiles %}
{% load static %}
{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html;charset=iso-8859-1" />
	<meta http-equiv="Content-Style-Type" content="text/css" />

	<title>
		Calificar empresa
	</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
	<script src="{% static 'jquery-3.1.1.min.js' %}"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="{% static 'style.css' %}">
	<script src="{% static 'jquery-3.1.1.js' %}"></script>
	<script src="http://code.highcharts.com/highcharts.js"></script>
</head>


<body>
	<div id="throbber" style="display:none; min-height:120px;"></div>
	<div id="noty-holder"></div>
	<div id="wrapper">
		<script type="text/javascript">
			$(function(){
				$('[data-toggle="tooltip"]').tooltip();
				$(".side-nav .collapse").on("hide.bs.collapse", function() {
					$(this).prev().find(".fa").eq(1).removeClass("fa-angle-right").addClass("fa-angle-down");
				});
				$('.side-nav .collapse').on("show.bs.collapse", function() {
					$(this).prev().find(".fa").eq(1).removeClass("fa-angle-down").addClass("fa-angle-right");
				});
			})  ;

		</script>

		<!-- Navigation -->
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">

				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

				<a class="navbar-brand" href="javascript:void(0);">
				</a>

			</div>
			<ul class="navbar-left well1" id="content">
					<h1 id="titulo">Calificador de empresas</h1>
				</ul>

			<!-- Top Menu Items -->
			<ul class="nav navbar-right top-nav">
			<li style="padding-top: 16px;"><a href="https://twitter.com/share" class="twitter-share-button" data-via="AntonioAlcM" data-size="small" data-dnt="true">Tweet</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
			</li>
				<li><a href="#" data-placement="bottom" data-toggle="tooltip" data-original-title="Stats"><i class="fa fa-bar-chart-o"></i>
				</a>
			</li>
		</ul>
		<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
		<div class="collapse navbar-collapse navbar-ex1-collapse">
			<ul class="nav navbar-nav side-nav">
				<li>
					<a href="#" data-toggle="collapse" data-target="#submenu-1"><i class="fa fa-cutlery" aria-hidden="true"></i></i> Calificaciones <i class="fa fa-fw fa-angle-down pull-right"></i></a>
					<ul id="submenu-1" class="collapse">
						<li><a href="{% url 'verEmpresas' %}"><i class="fa fa-angle-double-right"></i> Lista de empresas</a></li>
						{% block menu %}
						{% endblock %}
					</ul>
				</li>
				<li>
					<a href="{% url 'redireccionar' %}"><i class="fa fa-bar-chart" aria-hidden="true"></i>  Crear empresa</a>
				</li>
				<li>
					<a href="{% url 'verRanking' %}"><i class="fa fa-map-marker" aria-hidden="true"></i>  Ranking de empresas</a>
				</li>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</nav>


	<div id="page-wrapper">
		{% block contenido %}
		<div class="container-fluid">

			<!-- Page Heading -->


			<div class="row">
				<div class="col-lg-12">
					<div class="panel with-nav-tabs panel-primary">
						<div class="panel-heading">
							<ul class="nav nav-tabs">
								<li class="active"><a href="#tab1primary" data-toggle="tab"><span class="glyphicon glyphicon-font"></span> Articole</a></li>
								<li><a href="#tab2primary" data-toggle="tab"><span class="glyphicon glyphicon-heart-empty"></span> Galerie</a></li>
								<li><a href="#tab3primary" data-toggle="tab">Primary 3</a></li>
								<li class="dropdown">
									<a href="#" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
									<ul class="dropdown-menu" role="menu">
										<li><a href="#tab4primary" data-toggle="tab">Primary 4</a></li>
										<li><a href="#tab5primary" data-toggle="tab">Primary 5</a></li>
									</ul>
								</li>
							</ul>
						</div>
						<div class="panel-body">
							<div class="tab-content">
								<div class="tab-pane fade in active" id="tab1primary">
									<div class="well">
										<div class="media">
											<a class="pull-left" href="#">
												<img class="media-object" src="http://i1.wp.com/www.moneybook.ro/wp-content/uploads/2016/02/polen-crud.jpg?resize=768%2C480">
											</a>
											<div class="media-body">
												<h4 class="media-heading">APILARNILUL</h4>
												<p class="text">By Francisco</p>
												<p></p>
													<ul class="list-inline list-unstyled">
														<li><span><i class="glyphicon glyphicon-calendar"></i> 1 days, 8 hours </span></li>
														<li>|</li>
														<span><i class="glyphicon glyphicon-comment"></i> 2 comments</span>
														<li>|</li>
														<li>
															<span class="glyphicon glyphicon-star"></span>
															<span class="glyphicon glyphicon-star"></span>
															<span class="glyphicon glyphicon-star"></span>
															<span class="glyphicon glyphicon-star"></span>
															<span class="glyphicon glyphicon-star-empty"></span>
														</li>
														<li>|</li>
														<li>
															<!-- Use Font Awesome http://fortawesome.github.io/Font-Awesome/ -->
															<span><i class="fa fa-facebook-square"></i></span>
															<span><i class="fa fa-twitter-square"></i></span>
															<span><i class="fa fa-google-plus-square"></i></span>
														</li>
													</ul>
												</div>
											</div>
										</div>
										<div class="well">
											<div class="media">
												<a class="pull-left" href="#">
													<img class="media-object" src="http://i0.wp.com/www.moneybook.ro/wp-content/uploads/2016/08/images_8.jpg?resize=299%2C224">
												</a>
												<div class="media-body">
													<h4 class="media-heading">Ziua Femeii</h4>
													<p class="text-right">By Anailuj</p>
													<p></p>
														<ul class="list-inline list-unstyled">
															<li><span><i class="glyphicon glyphicon-calendar"></i> 2 days, 8 hours </span></li>
															<li>|</li>
															<span><i class="glyphicon glyphicon-comment"></i> 2 comments</span>
															<li>|</li>
															<li>
																<span class="glyphicon glyphicon-star"></span>
																<span class="glyphicon glyphicon-star"></span>
																<span class="glyphicon glyphicon-star"></span>
																<span class="glyphicon glyphicon-star"></span>
																<span class="glyphicon glyphicon-star-empty"></span>
															</li>
															<li>|</li>
															<li>
																<!-- Use Font Awesome http://fortawesome.github.io/Font-Awesome/ -->
																<span><i class="fa fa-facebook-square"></i></span>
																<span><i class="fa fa-twitter-square"></i></span>
																<span><i class="fa fa-google-plus-square"></i></span>
															</li>
														</ul>
													</div>
												</div>





											</div>
										</div>
										<div class="tab-pane fade" id="tab2primary">
											<div class="well">
												<div class="media">
													<a class="pull-left" href="#">
														<img class="media-object" src="http://www.moneybook.ro/moneybook-feed.png">
													</a>
													<div class="media-body">
														<h4 class="media-heading">Galerie</h4>
														<p class="text">By Manager</p>
														<p><img width="300" height="300" src="http://i1.wp.com/www.moneybook.ro/wp-content/uploads/2016/08/maieu-ALB_1.jpg?resize=300%2C300"
															class="attachment-image" alt="image1" title="image"
															sizes="(max-width: 300px) 100vw, 300px">
															<img width="300" height="300" src="http://i1.wp.com/www.moneybook.ro/wp-content/uploads/2015/11/8Martie.png?resize=300%2C265"
															class="attachment-image" alt="image1" title="image"
															sizes="(max-width: 300px) 100vw, 300px">
															<img width="300" height="300" src="http://i0.wp.com/www.moneybook.ro/wp-content/uploads/2014/12/pisici.jpg?w=537"
															class="attachment-image" alt="image1" title="image"
															sizes="(max-width: 300px) 100vw, 300px">
															<img width="300" height="300" src="http://i0.wp.com/www.moneybook.ro/wp-content/uploads/2014/10/beagle1.jpg?w=448"
															class="attachment-image" alt="image1" title="image"
															sizes="(max-width: 300px) 100vw, 300px">
														</p>
														<ul class="list-inline list-unstyled">
															<li><span><i class="glyphicon glyphicon-calendar"></i> 1 days, 8 hours </span></li>
															<li>|</li>
															<span><i class="glyphicon glyphicon-comment"></i> 2 comments</span>
															<li>|</li>
															<li>
																<span class="glyphicon glyphicon-star"></span>
																<span class="glyphicon glyphicon-star"></span>
																<span class="glyphicon glyphicon-star"></span>
																<span class="glyphicon glyphicon-star"></span>
																<span class="glyphicon glyphicon-star-empty"></span>
															</li>
															<li>|</li>
															<li>
																<!-- Use Font Awesome http://fortawesome.github.io/Font-Awesome/ -->
																<span><i class="fa fa-facebook-square"></i></span>
																<span><i class="fa fa-twitter-square"></i></span>
																<span><i class="fa fa-google-plus-square"></i></span>
															</li>
														</ul>
													</div>
												</div>
											</div>
											<div class="well">
												<div class="media">
													<a class="pull-left" href="#">
														<img class="media-object" src="http://www.moneybook.ro/moneybook-feed.png">
													</a>
													<div class="media-body">
														<h4 class="media-heading">Galerie2</h4>
														<p class="text-right">By Manager</p>
														<p><img width="300" height="300" src="http://dev.webofiice.ro/anunt/oc-content/uploads/0/7_thumbnail.jpg"
															class="attachment-image" alt="image1" title="image"
															sizes="(max-width: 300px) 100vw, 300px">
															<img width="300" height="300" src="http://dev.webofiice.ro/anunt/oc-content/uploads/0/6_thumbnail.jpg"
															class="attachment-image" alt="image1" title="image"
															sizes="(max-width: 300px) 100vw, 300px">
															<img width="300" height="300" src="http://i0.wp.com/www.moneybook.ro/wp-content/uploads/2014/12/pisici.jpg?w=537"
															class="attachment-image" alt="image1" title="image"
															sizes="(max-width: 300px) 100vw, 300px">
															<img width="300" height="300" src="http://i0.wp.com/www.moneybook.ro/wp-content/uploads/2014/10/beagle1.jpg?w=448"
															class="attachment-image" alt="image1" title="image"
															sizes="(max-width: 300px) 100vw, 300px"></p>
															<ul class="list-inline list-unstyled">
																<li><span><i class="glyphicon glyphicon-calendar"></i> 2 days, 8 hours </span></li>
																<li>|</li>
																<span><i class="glyphicon glyphicon-comment"></i> 2 comments</span>
																<li>|</li>
																<li>
																	<span class="glyphicon glyphicon-star"></span>
																	<span class="glyphicon glyphicon-star"></span>
																	<span class="glyphicon glyphicon-star"></span>
																	<span class="glyphicon glyphicon-star"></span>
																	<span class="glyphicon glyphicon-star-empty"></span>
																</li>
																<li>|</li>
																<li>
																	<!-- Use Font Awesome http://fortawesome.github.io/Font-Awesome/ -->
																	<span><i class="fa fa-facebook-square"></i></span>
																	<span><i class="fa fa-twitter-square"></i></span>
																	<span><i class="fa fa-google-plus-square"></i></span>
																</li>
															</ul>
														</div>
													</div>





												</div>
											</div>
											<div class="tab-pane fade" id="tab3primary">Primary 3</div>
											<div class="tab-pane fade" id="tab4primary">Primary 4</div>
											<div class="tab-pane fade" id="tab5primary">Primary 5</div>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
					{% endblock %}
				</div>
				<!-- /#page-wrapper -->
			</div><!-- /#wrapper -->

		</body>

		</html>
